<!DOCTYPE html>
<html>
 	<head>
        {% load static %}
 		<title>Focus - Home</title>
 		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='{% static "home.css" %}'>
 	</head>
 	<body class='ventana' style='background-image: url("{% static '456.jpg' %}");'>
		<div class='grid_container'>
 			<h1 class='title'>Organización Semanal - Bienvenid@ {{ user.username }}</h1>
			<a href='http://127.0.0.1:8000/config'>
			<img src="{% static 'settingsicon.png' %}" alt="settings">
			</a>
			<a href='http://127.0.0.1:8000/calendario'>
			<img src="{% static 'calendaricon.png' %}" alt="calendar">
			</a>
			<a href='http://127.0.0.1:8000/eventos'>
			<img src="{% static 'eventsicon.png' %}" alt="eventos" style='width: 60px; height: 60px; padding-top: 27px;'>
			</a>
		</div>
    	<table align="center" class='table'>
        	<tr>
            	<th>Lunes</th>
            	<th>Martes</th>
            	<th>Miércoles</th>
            	<th>Jueves</th>
            	<th>Viernes</th>
            	<th>Sábado</th>
                <th>Domingo</th>
        	</tr>
        	<tr>
				{% if today == 0 %}
            		<td class="eshoy">
				{% else %}
					<td>
				{% endif %}
						{% for evento in lista_dias.0 %}
							<p style="padding-left: 5px;"><b>- {{evento}}</b></br></p>
						{%endfor%}		
					</td>	
				{% if today == 1 %}
            		<td class="eshoy">
				{% else %}
					<td>
				{% endif %}
						{% for evento in lista_dias.1 %}
							<p style="padding-left: 5px;"><b>- {{evento}}</b></br></p>
						{%endfor%}		
					</td>
				{% if today == 2 %}
            		<td class="eshoy">
				{% else %}
					<td>
				{% endif %}

						{% for evento in lista_dias.2 %}
							<p style="padding-left: 5px;"><b>- {{evento}}</b></br></p>
						{%endfor%}		
					</td>
				{% if today == 3 %}
            		<td class="eshoy">
				{% else %}
					<td>
				{% endif %}
						{% for evento in lista_dias.3 %}
							<p style="padding-left: 5px;"><b>- {{evento}}</b></br></p>
						{%endfor%}		
					</td>
				{% if today == 4 %}
            		<td class="eshoy">
				{% else %}
					<td>
				{% endif %}
						{% for evento in lista_dias.4 %}
							<p style="padding-left: 5px;"><b>- {{evento}}</b></br></p>
						{%endfor%}		
					</td>
				{% if today == 5 %}
            		<td class="eshoy">
				{% else %}
					<td>
				{% endif %}
						{% for evento in lista_dias.5 %}
							<p style="padding-left: 5px;"><b>- {{evento}}</b></br></p>
						{%endfor%}			
					</td>
				{% if today == 6 %}
            		<td class="eshoy">
				{% else %}
					<td>
				{% endif %}
						{% for evento in lista_dias.6 %}
							<p style="padding-left: 5px;"><b>- {{evento}}</b></br></p>
						{%endfor%}		
					</td>
        	</tr>
		</table>
 	</body>
</html>

