<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Focus - Ramos</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='{% static "ramos.css" %}'>
    </head>
    <body class='ventana' style='background-image: url("{% static '456.jpg' %}");'>
        <div>
        <h1 class='title' align='center'>Ramos</h1>
        </div>
        <div class='list'>
            <ul>
                <li>holi</li>
                <li>holi</li>
                <li>holi</li>
                <li>holi</li>
                <li>holi</li>
                <li>holi</li>
                <li>holi</li>
                <li>holi</li>
                <li>holi</li>
                <li>holi</li>
            </ul>
        </div>
    </body>
</html>